@media (max-width: 768px) {
    .header h1 {
        font-size: 32px;
    }
}

.header .subtitle {
    font-size: 16px;
}

.card-header {
    font-size: 16px;
}

.code_grid {
    flex-direction: column;
}

.code-card {
    width: 100%;
}